<!-- card-list.component.html -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let card of cardList">
      <a routerLink="[/detail,]">

        <div class="card mb-3 h-50">
          <img src="{{ card.imageUrl }}" class="card-img" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ card.title }}</h5>
            <!-- Add other card content here -->
            <!-- Example: <p class="card-text">{{ card.description }}</p> -->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
