<app-navbar></app-navbar>
<div class="container mt-5">
    <h1 class="text-center mb-5">Course Detail</h1>
    <div class="row">
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body  ">
            <h1 class="card-title text-center ">{{ course.Subject }}</h1>
            <h5 class="card-text mt-3 fs-16  text-center" >{{ course.contenu }}</h5>
            <p class="card-text  fs-16 mt-3">Price: {{ course.fee }} DT</p>
            <div class="row mb-5 ">

                <p class="card-text fs-16 mt-3 ml-5">Instructor: {{ course.instructor }}</p>
                <p class="card-text fs-16 mt-3 ml-5">Stars: {{ course.Number_Stars }}</p>
            </div>
            <div class="d-flex justify-content-between">

                <a class="btn btn-primary " routerLink="/accueil">Back to Courses</a>
                <button class="btn btn-danger ml-5" *ngIf="decodedToken.role=='admin'" (click)="displ()" >Update</button>
            </div>
            <div *ngIf="displayUpdate">
              <form (ngSubmit)="onSubmit(updateForm)" #updateForm="ngForm">
                          <!-- Username field -->
      <div class="mb-3 mt-5">
          <label for="Subject" class="form-label">Studentname:</label>
          <input type="text" class="form-control" id="Subject" name="Subject" [(ngModel)]= course.Subject required>
      </div>

      <!-- Email field -->
      <div class="mb-3">
          <label for="contenu" class="form-label">Contenu:</label>
          <textarea type="email"[rows]="5" class="form-control" id="contenu" name="contenu" [(ngModel)]="course.contenu" required></textarea>
      </div> 
      <div class="mb-3">
          <label for="fee" class="form-label">Fee:</label>
          <input type="number" class="form-control" id="fee" name="fee" [(ngModel)]="course.fee" required>
      </div>
      
      <!-- Other fields go here with default values -->

      <button type="submit" class="btn btn-primary">Submit</button>

              </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
